<!Doctype html>
<html>
<body>
  <h3>Mystery Word</h3>
  <p>You have {{ guesses }} guesses left.</p>
  <br><br>
  <input type="text" placeholder="Enter letter" value="letter">
  <input type="submit" value="Submit">

</body>
