<!--PLEASE IGNORE THIS PAGE -->
<!--WAS ATTEMPTING TO USE A SEPARATE PAGE IF THE USER LOST-->

<!-- <!Doctype html>
<html>
<body>
  <h3>Become A Master of The Mystery of Words</h3>
  <br><br>


<form action= "/outOfLetters/" method="post">


  <input type="text" placeholder="Enter a letter" class = "letter" name ="JustALetter"/>


    <input type ="submit" id="play_again" value= "Play Again">


  <input type ="submit" id="end_game" value= "Game Over">
</form>





</body>
</html> -->
