<!doctype html>
  <html>
    <head>
      <title> Welcome</title>
    </head>
    <body>
      <form method="post" action="/level">
      <p> You as the user have different options to challenge yourself.</p>
      <label for="Beginner">Beginner</label>
        <input type="radio" name ="Beginner" id="Beginner" value="Beginner">
      <label for="Intermediate">Intermediate</label>
        <input type="radio" name ="Intermediate" id="Intermediate" value="Intermediate">
      <label for="Advanced">Advanced</label>
        <input type="radio" name ="Advanced" id="Advanced" value="Advanced">
      <input type ="submit" value="submit">
    </form>
  </body>
  </html>
